@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&family=Monoton&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Glitch&family=Silkscreen:wght@400;700&family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster');

/* 
font-family: "Rubik Glitch", system-ui;
font-family: "Silkscreen", sans-serif;
font-family: "Splash", cursive;
font-family: "Dancing Script", cursive;
font-family: "Jost", sans-serif;
font-family: "Permanent Marker", cursive;
font-family: "Cormorant Garamond", serif;
font-family: "Kaushan Script", cursive;
font-family: "Playfair Display", serif; 
font-family: "Monoton", sans-serif;
font-family: 'Times New Roman', Times, serif;
font-family: 'Luckiest Guy', cursive;
font-family: "Bebas Neue", Arial Helvetica, serif;
font-family: sans-serif;
font-family: "frozen", serif;
font-family: "Fira Mono", monospace;
font-family: Helvetica;
font-family: 'Lobster', cursive;
*/

::-webkit-scrollbar {
    width: 0.75rem;
    height: auto;
}

::-webkit-scrollbar-track {
    background: var(--secondary);
    border-radius: 100vw;
    margin-block: 0.2rem;
}

::-webkit-scrollbar-thumb {
    background: var(--bright);
    border: 0.1rem solid var(--primary);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
    border: 0.1rem solid var(--white);
}

.neo-video-player {
    position: relative;
    overflow: hidden;
    width: 100%;
    width: min(540px, 94vw);
    aspect-ratio: 16/9;
    margin: auto;
    margin-block: 0.5rem;
    border-radius: 10px;
    border: 2px solid var(--secondary);
}

iframe {
    width: min(540px, 94vw);
    aspect-ratio: 16/9;
    margin: auto;
}

@media (max-width: 1536px) {}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 640px) {}

@media (max-width: 475px) {
    .neo-video-player {
        margin-block: 2rem;
    }
}